/* --- Root Variables (Colors) --- */
:root {
    /* --- Mica Inspired Color Variables --- */
    --background-color: rgb(30, 34, 40);
    --foreground-color: rgb(237, 238, 240);
    --accent-color: #0078d4;
    --border-color: rgb(53, 59, 69);
    --icon-color: rgb(169, 174, 184);
    --icon-hover: rgba(169, 174, 184, 0.8);
    --hover-color: rgba(93, 114, 135, 0.12);
    --active-color: rgb(93, 114, 135);
    --inactive-color: rgba(93, 114, 135, 0.5);
}

/* --- Base Styles --- */
* {
    font-size: 12px;
    color: var(--foreground-color);
    font-weight: 400;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Yasb Bar Itself --- */
.yasb-bar {}

/* --- Individual Widgets --- */
.widget {
    padding: 0px 4px;
    margin: 2px;
    background-color: var(--background-color);
    border-radius: 6px;
    border: 2px solid var(--border-color);
}

.container-right .widget .icon:hover {
    color: var(--icon-hover);
}

/* --- Icons --- */
.icon {
    font-size: 14px;
    color: var(--icon-color);
}

/* --- Widget Labels --- */
.widget .label {
    padding: 0px 2px;
}

/* --- Uptime Widget --- */
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--foreground-color);
    font-weight: 600;
}

/* --- Power Menu Widget --- */
.power-menu-widget .label {}

/* --- Power Menu Popup --- */
.power-menu-popup {
    background-color: rgba(20, 13, 14, 0.9);
    border-radius: 6px;
    padding: 10px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--foreground-color);
    border-left: 4px solid rgba(0, 0, 0, 0.05);
    border-right: 4px solid rgba(0, 0, 0, 0.05);
    border-top: 8px solid rgba(0, 0, 0, 0.05);
    border-bottom: 8px solid rgba(0, 0, 0, 0.05);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.power-menu-popup .button:hover {
    background-color: rgba(255, 255, 255, 0.12);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    border-right: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--accent-color);
}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--foreground-color);
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}

.power-menu-popup .button.cancel .label {
    color: var(--foreground-color);
    margin: 0;
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}

/* --- Volume Widget --- */
.volume-widget .icon {
    color: var(--foreground-color);
    margin: 1px 2px 0 0;
}

/* --- Battery Widget --- */
.battery-widget .icon {
    margin-right: 6px;
    color: var(--foreground-color);
}

/* --- Common Widget Padding --- */
.battery-widget,
.volume-widget {
    padding: 0 6px;
}


/* --- Wallpapers Widget --- */
.wallpapers-widget .icon {
    color: var(--foreground-color);
    font-size: 14px;
    padding-right: 2px;
    margin: 0;
}

/* --- Taskbar Widget --- */


.taskbar-widget .app-container {
    padding: 6px;
    margin: 0;
}

.taskbar-widget .app-container:hover {
    background-color: var(--hover-color);
    border-radius: 3px;
}

.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}

/* --- Wallpapers Gallery Window --- */
.wallpapers-gallery-window {
    background-color: rgba(20, 13, 14, 0.9);
    border: 0;
    margin: 0;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.wallpapers-gallery-buttons {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--foreground-color);
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin: 0 8px 8px 8px;
    width: 600px;
}

.wallpapers-gallery-buttons:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 10px;
}

.wallpapers-gallery-image:hover {
    border: 4px solid var(--accent-color);
}

.wallpapers-gallery-image.focused {
    border: 4px solid var(--accent-color);
}

/* --- Systray --- */
.systray {
    display: flex;
    align-items: center;
}

.systray .unpinned-container {}

.systray .button {
    border-radius: 0px;
    cursor: pointer;
}

.systray .unpinned-visibility-btn {
    background-color: transparent;
    font-size: 20px;
}

/* --- Media --- */
.media-widget {}

.media-widget .widget-container {
    background: ;
}

.media-widget .label {}

.media-widget .label.alt {}


.media-widget .btn.prev,
.media-widget .btn.next,
.media-widget .btn.pause,
.media-widget .btn.play,
.media-widget .btn.disabled {
    font-size: 16px;
    color: var(--foreground-color);
    padding: 0 6px;
}

.media-menu {
    background-color: transparent;
}

.media-menu .title {
    font-size: 12px;
    font-weight: 600;
    color: var(--foreground-color);
    margin-bottom: 8px;
}

.media-menu .artist {
    font-size: 11px;
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    padding: 2px 4px;
    border-radius: 4px;
}

.media-menu .btn.play,
.media-menu .btn.pause,
.media-menu .btn.prev,
.media-menu .btn.next,
.media-menu .btn.disabled {
    font-size: 20px;
    color: var(--foreground-color);
    padding: 0 12px;
}

.media-menu .thumbnail {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

.media-menu .source {
    font-size: 12px;
    background-color: var(--background-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid var(--border-color);
    color: #ffffff;
}

/* --- CPU Widget --- */
.cpu-widget {
    color: var(--icon-color);
}

.cpu-widget.your_class {}


/* If you are using class_name option */
.cpu-widget .widget-container {}

.cpu-widget .widget-container .label {}

.cpu-widget .widget-container .label.alt {}

.cpu-widget .widget-container .icon {
    font-weight: 600;
}

.cpu-widget .label.status-low {}

ibbbbb .cpu-widget .label.status-critical {}

/* CPU progress bar styles if enabled */
.cpu-widget .progress-circle {}